
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.active{
    text-decoration: underline;
    text-decoration-color: #00c1a6;
}

li {
  font-family: "Jost", sans-serif;
}

.slider-heading{
  font-family: "Marcellus", serif;
}